{% extends 'base.html' %}
{% load static %}

{% block title %}
Корзина
{% endblock %}

{% block content %}
<h2 style="margin-top: 10px; margin-left: 10px;">Ваша корзина</h2>
<div class="products-grid" style="display: flex; flex-wrap: wrap;">
    {% for item in cart_items %}
        <div class="product-card">
            {% if item.product.image %}
                <img src="{{ item.product.image.url }}" alt="" class="product-image" width="150">
            {% else %}
                <img src="{% static 'img/zaglushka.jpg' %}" alt="Нет изображения" class="product-image" width="150">
            {% endif %}
            <div class="product-name">{{ item.product.title }}</div>
            <div class="product-description">{{ item.product.text|truncatechars:60 }}</div>
            <div class="product-time">{{ item.product.date|timesince }} назад</div>
            <div class="product-price">{{ item.product.price }} сум</div>

            <div style="margin-top: 10px;">
                <a href="{% url 'decrease_quantity' item.id %}">
                    <button class="btn btn-primary">-</button>
                </a>
                <span style="margin: 0 10px;">{{ item.quantity }}</span>
                <a href="{% url 'add_to_cart' item.product.id %}">
                    <button class="btn btn-primary">+</button>
                </a>
            </div>

            <h5>Всего: {{ item.total_price }} сум</h5>

            <a href="{% url 'remove_from_cart' item.id %}">
                <button class="btn btn-danger">Удалить</button>
            </a>
        </div>
    {% empty %}
        <p>Ваша корзина пуста.</p>
    {% endfor %}
</div>

<h6>Итого:</h6>
<h3>{{ total_price }} сум</h3>
{% endblock %}
