{% extends 'base.html' %}
{% load static %}

{% block title %}
Create new post
{% endblock %}

{% block content %}
<div class="create-card-div" style="background: rgb(255, 255, 255); margin: 10px; border-radius: 10px; width: 1060px;">
    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="title"><h3 style="margin-top: -30px; margin-left: 10px;">Title</h3></label>
            <input type="text" style="margin: 10px; width: 1000px;" class="form-control" class="form-control-create" id="title" name="title" placeholder="title">
        </p>
        <p>
            <label for="price"><h3 style="margin-top: -35px; margin-left: 10px;">Price</h3></label>
            <input type="number" style="margin: 10px; width: 1000px;" class="form-control" class="form-control-create" id="price" name="price" placeholder="price" required>
        </p>
        <p>
            <label for="text"><h3 style="margin-top: -35px; margin-left: 10px;">Text</h3></label>
            <input type="text" style="margin: 10px; width: 1000px;" class="form-control" class="form-control-create" id="text" name="text" placeholder="text" required>
        </p>
        <p>
            <div class="mb-3">
                <label for="formFile" class="form-label"><h3 style="margin-top: -30px; margin-left: 10px;">Image</h3></label>
                <input class="form-control" style="margin: 10px; width: 1000px;" class="form-control-create" type="file" id="image" name="image" placeholder="image" required>
            </div>
        </p>
        <button class="btn btn-primary" class="btn" style="height: 40px; margin: 10px; width: 240px;">Create</button>
    </form>
</div>
{% endblock %}