{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}
<div class="card-group">
    <div class="card" style="padding: 16px;">
        {% if product.image %}
        <img src="{{ product.image.url }}" class="card-img-top" alt="..." style="width: 50%;">
        {% else %}
        <img src="{% static 'img/9.png' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.text }}</p>
            <h3 class="card-price" style="color: rgb(27, 239, 27);">{{ product.price }} <small style="color: black;">сум</small></h3>
            <h6 class="date-product">{{ product.date|timesince  }} назад...</h6>
        </div>
        <form action="{% url 'delete' product.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        <a href="{% url 'update' product.id%}"><button class="btn btn-success">Update</button></a>
        <a href="{% url 'add_to_cart' product.id %}"><button class="btn btn-success">Добавить в корзину</button></a>
    </div>
</div>
{% endblock %}