{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}
<div class="card-group">
    <div class="card">
        {% if product.image %}
        <img src="{{ product.image.url }}" class="card-img-top" alt="...">
        {% else %}
        <img src="{% static 'img/9.png' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.text }}</p>
            <p class="card-price">{{ product.price }}</p>
        </div>
        <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label for="title">title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="title" required>
            </p>
            <p>
                <label for="price">price</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="price" required>
            </p>
            <p>
                <label for="text">text</label>
                <input type="text" class="form-control" id="text" name="text" placeholder="text" required>
            </p>
            <p>
                <div class="mb-3">
                    <label for="formFile" class="form-label">image</label>
                    <input class="form-control" type="file" id="image" name="image" placeholder="image" required>
                </div>
            </p>
            <button class="btn btn-success">Create</button>
        </form>

        <table>
            {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.text }}</td>
                <td>{{ product.image }}</td>
                <td>
                    <a href="{% url 'update' product.id %}">Update</a>
                </td>
                <td>
                    <form action="{% url 'delete' product.id %}" method="POST">
                        {% csrf_token %}
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}