{% extends 'base.html' %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<div class="card" style="padding: 16px; margin: 20px; border-radius: 20px 20px 20px 20px; font-family: 'Play', sans-serif;">

    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="profile-avatar" style="width: 100px; height: 100px;">
    {% else %}
        <p>Нет аватарки</p>
    {% endif %}

    <h5>{{ profile.name|default:"Не указано" }}</h5>
    <hr>

    <strong>Биография:</strong>
    <p>{{ profile.bio|default:"Нет биографии" }}</p>
    <hr>

    <strong>Локация:</strong>
    <p>{{ profile.location|default:"Не указано" }}</p>

    <form method="POST" style="margin-top: 16px;">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit" name="delete_profile">Удалить профиль и аккаунт</button>
    </form>

    <a href="{% url 'update_profile' %}" class="btn btn-primary" style="margin-top: 10px;">Редактировать</a>

</div>

{% if not profile.name or not profile.bio or not profile.location or not profile.avatar %}
    <hr>
    <h3>Заполните ваш профиль:</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
{% endif %}

{% endblock %}
