{% extends 'base.html' %}
{% load static %}

{% block title %}
Подкатегории
{% endblock %}

{% block content %}
<div class="products-grid" style="display: flex; margin: 18px; font-family: 'Play', sans-serif; background: white; border-radius: 20px 20px 20px 20px; flex-direction: column;">
    <h3 style="padding-left: 10px;">{{ subcategory.name }}</h3>
    {% for product in subcategory.product_set.all %}
        <div class="product-card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="" class="product-image">
            {% else %}
                <img src="{% static 'img/zaglushka.jpg' %}" alt="Нет изображения" class="product-image">
            {% endif %}
            <div class="product-name" style="margin-left: 5px;">{{ product.title }}</div>
            <div class="product-description" style="margin-left: 5px;">{{ product.text|truncatechars:60 }}</div>
            <div class="product-time">{{ product.date|timesince }} назад</div>
            <a href="{% url 'product_detail' id=product.id %}"><div class="product-price">{{ product.price }} сум</div></a>
        </div>
    {% endfor %}
</div>
{% endblock %}