{% extends 'base.html' %}
{% load static %}

{% block title %}
Подкатегории
{% endblock %}

{% block content %}
<div class="card-group">
    {% for product in subcategory.product_set.all %}
    <div class="card" style="border-radius: 20px 20px 20px 20px; margin: 10px;">
        {% if product.image %}
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        {% else %}
        <img src="{% static 'img/9.png' %}" alt="...">
        {% endif %}
        <div class="card-body">
            <hr>
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.text | slice:'0:50'}}...</p>
            <h5>Цена:</h5><a href="{% url 'product_detail' id=product.id %}" style="text-decoration: none;"><p class="card-price">{{ product.price }} сум</p></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}