{% extends 'base.html' %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<form method="POST" action="" style="padding: 16px;">
    {% csrf_token %}
    {% if profile.name and profile.bio and profile.location %}
        <div class="card">
            <h3>Редактировать Профиль</h3>
            <hr>
            <label for="name">Имя пользователя:</label>
            <input type="text" id="name" name="name" value="{{ profile.name }}">
            <hr>
            <label for="bio">Биография:</label>
            <textarea id="bio" name="bio">{{ profile.bio }}</textarea>
            <hr>
            <label for="location">Локация:</label>
            <input type="text" id="location" name="location" value="{{ profile.location }}">
            <hr>
            
            <button type="submit" name="update_profile">Сохранить изменения</button>
        </div>
        
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit" name="delete_profile">
                Удалить профиль и аккаунт
            </button>
        </form>
        
    {% else %}
        <h2>Создайте Профиль</h2>
        <hr>

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Сохранить</button>
    {% endif %}
</form>
{% endblock %}
