{% extends 'base.html' %}
{% load static %}

{% block title %}
Update product
{% endblock %}

{% block content %}
<div class="update_product" style="background: white; margin: 10px; border-radius: 20px 20px 20px 20px; font-family: 'Play', sans-serif;">
    <h2 style="padding-left: 10px; padding-top: 10px;">Обновить продукт</h2>
    <hr>
    <form action="{% url 'update' product.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="title"><h3 style="margin-top: -40px; margin-left: 10px;">Title</h3></label>
            <input type="text" style="margin: 10px; width: 1000px;" class="form-control" class="form-control-create" id="title" name="title" placeholder="title" required value="{{ product.title }}">
        </p>
        <p>
            <label for="price"><h3 style="margin-top: -40px; margin-left: 10px;">Price</h3></label>
            <input type="number" style="margin: 10px; width: 1000px;" class="form-control" class="form-control-create" id="price" name="price" placeholder="price" required value="{{ product.price }}">
        </p>
        <p>
            <label for="text"><h3 style="margin-top: -40px; margin-left: 10px;">Text</h3></label>
            <input type="text" style="margin: 10px; width: 1000px;" class="form-control" class="form-control-create" id="text" name="text" placeholder="price" required value="{{ product.text }}">
        </p>
        <p>
            <div class="mb-3">
                <label for="formFile" class="form-label"><h3 style="margin-top: -30px; margin-left: 10px;">Image</h3></label>
                <h6 style="padding-left: 10px;">Первое изображение</h6>
                <input class="form-control" style="margin: 10px; width: 1000px;" class="form-control-create" type="file" id="image" name="image" placeholder="image" required>
            </div>
        </p>
        <button class="btn btn-success" style="margin-left: 10px; margin-bottom: 10px; border-radius: 10px;">Create</button>
    </form>
</div>
{% endblock %}
